footer {
    display: flex;
    background-color: #F2F2F2;
    justify-content: center;
}

footer div {
    width: 480px;
    height: 200px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer li {
    margin-top: 15px;
    font-weight: 100;
}

footer h3 {
    margin-top: 40px;
}

@media screen and (max-width : 992px) {

    footer {
        justify-content: space-evenly;
    }

    footer div {
        width: 30%;
    }

}

@media screen and (max-width : 768px) {
    footer {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    footer div {
        width: 90%;
        margin: auto;
        height: auto;
        margin-bottom: 0px;
    }

    footer h3 {
        font-size: 17px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    footer a {
        font-size: 14px;
    }

    footer li {
        margin-bottom: 15px;
    }

    footer div:nth-last-child(1){
        margin-bottom: 30px;
    }
}