@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.description {
    font-weight: lighter;
    margin-bottom: 30px;
}

#navigation nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navigation nav ul {
    display: flex;
}

#navigation nav ul li {
    width: 150px;
    padding-top: 35px;
    text-align: center;
    border-top: solid 1px transparent;
}

#navigation ul li a {
    text-decoration: none;
    color: black;
}

#navigation ul li a:hover {
    color: #0065FC;
}

#navigation ul li:hover {
    border-color: #0065FC;
}

#logo {
    height: 20%;
    padding-bottom: 30px;
    padding-top: 30px;
}

#searchbar {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 50px;
}

#searchbar form input {
    height: 50px;
    border: 1px #F2F2F2 solid;
}

#searchbar form input[type=text]{
    padding-left: 20px;
    height: 50px;
    width: 235px;
    font-size: 15px;
    font-weight: bolder;
}

#searchbar form input[type=submit] {
    background-color: #0065FC;
    color: white;
    height: 56px;
    border-radius: 0 30px 30px 0;
    margin-left: -10px;
    width: 135px;
    font-size: 15px;
    font-weight: bolder;
}

#iconegps {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    border-radius: 20px 0 0 20px;
}

#filters {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#filters a {
    margin-left: 30px;
    height: 50px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#information {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#information svg {
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    padding: 5px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    border: 2px #F2F2F2 solid;
    border-radius: 30px;
    padding: 3px;
}

.btn svg {
    border-radius: 100%;
    background-color: #DEEBFF;
    padding: 20px;
    margin-left: -10px;
}

.btn p {
    padding: 15px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    #navigation nav {
        display: block;
    }

    #logo-container {
        /* Centré */
        display: flex;
        justify-content: center;
    }


    #navigation nav ul li {
        width: 50%;
        padding-bottom: 35px;
        text-align: center;
        border-bottom: solid 1px #F2F2F2;
        border-top: none;
        margin-bottom: 20px;
    }

    

  }