/* Import du font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    font-family: "Raleway", sans-serif;
}
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
    font-size: 22px;
}

.container {
    width: 1440px;
    margin: auto;
}

.title {
    font-weight: bolder;
}

#hebergements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 625px;
}

#popular-title {
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-top: 30px;
    padding-left: 7%;
    padding-bottom: 10px;
}

.popular-body {
    position: absolute;
    word-wrap: break-word;
    right: 0;
    top: 0;
    background-color: white;
    height: 100%;
    width: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.popular-name, .popular-description, .popular-stars {
    margin-left: 20px;
    display: flex;
    width: 80%;
}

.popular-name {
    font-weight: bolder;
}

.popular-description {
    font-weight: 100;
}

#popular {
    background-color: #f2f2f2;
    width: 32%;
    border-radius: 30px;
}

.card-popular {
    width: 350px;
    height: 150px;
    border: white 5px solid;
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
    position: relative;
    margin-left: 7%;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
}

.card-popular img {
    height: 100%;
    position: absolute;
    right: 170px;
}

#hebergement-marseille {
    background-color: #f2f2f2;
    width: 66%;
    border-radius: 30px;
}

#hebergement-marseille h2 {
    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 25px;
}

#hebergements-list {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 40px;
}

.card-hebergement {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 200px;
    border: white 5px solid;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 40px ;
    margin-right: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
}

.card-hebergement img {
    width: 105%;
    height: 105%;
    position: absolute;
    bottom: 30px;
    right: 0px;
}

.card-body {
    background-color: white;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-title {
    font-weight: 900;
}

.card-description {
    font-weight: 500;
}

.stars {
    display: flex;
}

#afficher-plus {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    padding-bottom: 40px;
}

#activites h2 {
    margin-bottom: 30px;
}

#activites {
    height: 550px;
}

#popular-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.activite-width {
    width: 23%;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activites-list {
    display: flex;
    justify-content: space-between;
}

#activite-tier {
    height: 30%;
    background-color: aqua;
    border-radius: 50px;
}

#activite-deuxtier {
    height: 62%;
    background-color: blueviolet;
    border-radius: 50px;
}

.activite-full {
    height: 100%;
    background-color: green;
    border-radius: 50px;
}

.activite-half {
    height: 47%;
    background-color: aquamarine;
    border-radius: 50px;
}